*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-position: center; 
    display:flex;
    align-items: center;
    background-size: cover;
    padding: 5%;
    justify-content: center;
    flex-direction: column;
}

.search-bar{
    width: 100%;
    max-width: 800px;
    background: gray;
    display: flex;
    align-items: center;
    border-radius: 70px;
    padding: 15px 30px;
}

.search-bar button{
    border: 0;
    border-radius: 10px;
    height: 70px;
    background: gray;
    cursor: pointer;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 10px 30px;
    font-size: 23px;
    font-style: italic;

}

img{
    width: 700px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    position: relative;
    text-align: center;
    padding-top: 20px;
   
}
::placeholder{
    color: black;
}

.search-bar button img{
    width: 60px;
    padding-top: 5px;
}
